.Card {
  max-height: 250px;
  margin-bottom: 1rem;
  color: inherit;
  border-radius: 0;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.JobCard {
  min-height: 200px;
  position: relative;
}

.btn-secondary {
  position: absolute;
  margin-top: inherit;
  right: 20px;
  bottom: 20px;
}

a.CompanyCard:hover { 
  text-decoration: none;
  color: inherit;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.Card img {
  display: inline-block;
  width: 50px;
  height: 50px;
  right: 0;
}