.Navigation {
  background-color: white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

.nav-link, .navbar-brand {
  color: #006666;
  font-weight: bold;
}

.nav-link-main.active {
  font-weight: bold;
  color: #81b2e6;
}
